{% load static %}
<div class="post-container mt-4">
    <div class="media">
        <a href="{% url 'users:detail' post.user.username %}">
            <img
                src="{% if post.profile.picture %}{{ post.profile.picture.url }}{% else %}{% static 'img/default-profile.svg' %}{% endif %}"
                alt="{{ post.user.get_full_name }}"
                class="mr-3 rounded-circle"
            >
        </a>
        <div class="media-body">
            <p>{{ post.user.get_full_name|default:post.user.username }}</p>
            <small class="text-muted">@{{ post.user.username }}</small>
        </div>
    </div>

    <a href="#" data-toggle="modal" data-target="#postModal{{ post.pk }}" aria-label="Open post">
        <img class="post-photo" src="{{ post.photo.url }}" alt="{{ post.title }}">
    </a>

    <div class="post-meta">
        <a href="" class="post-like" aria-label="Like">
            <i class="fa-solid fa-heart"></i>
        </a>
        <span class="post-likes-count ml-2">{{ post.likes }}</span> likes
    </div>
    <p class="post-caption">
        <span class="title">{{ post.title }}</span>
        <small class="d-block mt-1"><time>{{ post.created|date:"M j, Y" }}</time></small>
    </p>
</div>

{% include "posts/post_modal.html" %}
